server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
    register-with-eureka: false
    fetch-registry: false

spring:
  application:
    name: eureka


logging:
  level:
    root: warn
  file:
    name: log/app.log
  logback:
    rollingpolicy:
      max-history: 14
      total-size-cap: 100MB
      max-file-size: 10MB
