server:
  port: ${PORT:8070}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: tcp-proxy

app:
  public-host: localhost
  web-socket:
    max-text-message-size: 100MB
    max-binary-message-size: 1GB
    session-idle-timeout: 10m